*{
    margin: 0;
    padding: 0;
    background-color: #191919;
}
.heading{
    text-align: center;
    color: #ffffff;
    align-items: center;
    font-family: cursive;
}
.hr
{
    background: #ffffff;
    height: 5px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    align-self: center;
}
.contain{
    text-align: center;
    color: #ffffff;
    margin-top: 25%;
}
